.topbar {
    background-color: #009aad;
    color: white;
    justify-content: center;
}
.topbar a{
    background-color: rgb(254, 149, 1);
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    line-height: 32px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
}
/* @media (max-width: 756px) {

    .topbar {
        flex-direction: column;   
        text-align: center;
        gap: 10px;
    }

    .topbar img {
        margin-bottom: 5px;
    }

    .topbar-text {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 1.3;
    }
} */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

 .hero-section{
    padding-top: 80px;
    padding-bottom: 80px;
 }                                                                                   

.hero-left{
    background: url(assets/images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding: 40px 20px;
}

.hero-img{
    width: 100%;
    max-width: 900px;
    height: auto;
}

h1{
    line-height: 1.2;
}
